services:
  talkback:
    image: ghcr.io/djnotes/madelineproto-image:latest
    
    volumes:
      - .:/app

    env_file:
      - ./variables.env

    command: php bot.php

    environment:
    # Put your variables here
      - API_ID=
      - API_HASH=
      - BOT_TOKEN=

